.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.shrink-0 {
    flex-shrink: 0;
}

.grow {
    flex-grow: 1;
}

.h-screen {
    height: 100vh;
}

.bg-darker {
    background-color: #202020;
}

.bg-dark {
    background-color: #2D3032;
}

.font-mono {
    font-family: monospace;
}

.color-white {
    color: white;
}

.overflow-hidden {
    overflow: hidden;
}


.requests {
    background: #1d1d1d;
    align-items: start;
}

.header {
    padding-left: 45px;
    height: 6.5vh;
}

.header .icon {
    margin-right: 10px;
}